{% extends 'base.html' %}

{% block center_body %}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list1_1_1" class="">面膜</a></li>
					<li><a href="/list2_1_1" class="">洁面卸妆</a></li>
					<li><a href="/list3_1_1" class="">时尚护肤</a></li>
					<li><a href="/list4_1_1" class="">潮流彩妆</a></li>
					<li><a href="/list5_1_1" class="">个人洗护</a></li>
					<li><a href="/list6_1_1" class="">家居日用</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url "df_goods:index" %}">首页</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		全部分类 > {{ title }}
		{% if id|default:' ' != ' ' %}
        > 商品详情
		{% endif %}
	</div>

{% block center_content %}

{% endblock center_content %}



{% endblock center_body %}